[project]
	description = some memory analysis tools 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mdxy2010
[access "refs/for/refs/*"]
	read = group user/mdxy2010
	push = group user/mdxy2010
	label-Code-Review = -2..+2 group user/mdxy2010
	label-Verified = -1..+1 group user/mdxy2010
	rebase = group user/mdxy2010
	removeReviewer = group user/mdxy2010
	submit = group user/mdxy2010
[access "refs/heads/*"]
	read = group user/mdxy2010
	create = group user/mdxy2010
	push = +force group user/mdxy2010
	pushMerge = group user/mdxy2010
[access "refs/tags/*"]
	push = group user/mdxy2010
	push = +force group user/mdxy2010
